.movingSquaresContainer {
    height: 20px;
    position: relative;
    overflow: hidden;
    /* margin: 250px 0; */
    margin-bottom: 100px;
}

.movingSquares {
    display: flex;
    position: absolute;
    animation: scrollLeft 1s linear infinite;
    white-space: nowrap;
}

.square {
    width: 20px;
    height: 20px;
    background-color: white;
    margin-right: 80px;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
} 

@media (max-width: 600px) {
    .movingSquaresContainer {
        height: 15px;

    }
    .square {
        width: 15px;
        height: 15px;
        margin-right: 45px;
    }
    @keyframes scrollLeft {
        0% {
            transform: translateX(30px);
        }
        100% {
            transform: translateX(-30px);
        }
    }
}