.opportunity {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.opportunityText {
    width: 35%;
}

.opportunityText h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 600;
}

.opportunityText p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contactBtn {
    display: inline-block;
    padding: 12px 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.graphicPlaceholder {
    width: 35%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 