.process {
    
    margin: 50px 0;
}

.processText {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 50px;
}

.processText h2 {
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom: 0px;
    font-weight: 700;
}

.processTimeline {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}

.timelineContainer {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.verticalLine {
    width: 40px;
    height: 10px;
    background-color: white;
    margin: 20px auto;
}

.stepsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 40px;
    position: relative;
    z-index: 2;
}

.stepContainer {
    display: flex;
    justify-content: center;
    padding: 0 30px;
}


.step {
    padding: 20px;
}

.step h3 {
    margin-bottom: 10px;
} 

@media (max-width: 600px) {
    .processText h2 {
        font-size: 2rem;
    }
    .processText p {
        font-size: 1.2rem;
    }
}

@media (max-width: 900px) {
    .stepsGrid {
        grid-template-columns: 1fr;
    }
}