.bouncingLinesContainer {
    height: 10vh;
    position: relative;
    overflow: hidden;
}

.bouncingLines {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bouncingLine {
    width: 20px;
    height: 40px;
    background-color: white;
    margin: 0 40px;
    animation: bounce 2s infinite ease-in-out;
    animation-delay: var(--delay);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(var(--bounce-height));
    }
}

@media (max-width: 600px) {
  .bouncingLinesContainer {
    height: 100px;
  }
  .bouncingLine {
    width: 16px;
    height: 32px;
    margin: 0 16px;
  }
}